@charset "utf-8";

@import "bulma";

footer.footer {
  margin-top: 50px;
}

div#cmdaa-ui {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

div#runContent.content {
  max-height: 300px;
  overflow: auto;
}

div#fileContent {
  max-height: 488px;
  overflow: auto;
}

div#runManager div.card-content {
  min-height: 200px;
}

a.panel-block {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.panel-block span.run-message {
  font-size: smaller;
}

.panel-block span.date {
  text-align: right;
  font-size: smaller;
}

section#app-notifications {
  margin-top: 50px;
  max-height: 200px;
  overflow: auto;
}

button.icon-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20px;
  max-height: 20px;
  min-height: 20px;
  width: 20px;
  max-width: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  margin-left:  5px;
  margin-right: 5px;
}

.panel-block.is-active button.icon-btn span.panel-icon {
  color: #7a7a7a;
}

.dropdown-trigger.is-fullwidth {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  div.modal.is-wide div.modal-card {
    width: 1000px;
  }
}
@media only screen and (max-width: 1024px) {
  div.modal.is-wide div.modal-card {
    width: 100%;
  }
}

div#fieldMenu {
  max-height: 35vh;
  overflow: auto;
}

div#grokFieldEditTile {
  min-height: 306px;
}
